on init
    
    # ISP/Camera modules
    mknod /dev/video0 c 81 0
    # change permissions for Camera
    chmod 0777 /dev/video0

    insmod /lib/modules/isp-mod.ko
    insmod /lib/modules/ov7675.ko
    insmod /lib/modules/omap_ov7675_isp.ko
    insmod /lib/modules/omap34xxcam.ko

    # Vout omap 3 modules
    mknod /dev/video1 c 81 1
    mknod /dev/video2 c 81 2
    chmod 0777 /dev/video1
    chmod 0777 /dev/video2

    insmod /lib/modules/omap_previewer.ko
    insmod /lib/modules/omap_resizer.ko
    insmod /lib/modules/omap_voutlib.ko
    insmod /lib/modules/omap_vout.ko vid1_static_vrfb_alloc=1

    # DspBridge
    insmod /lib/modules/mailbox.ko
    insmod /lib/modules/mailbox_mach.ko
    insmod /lib/modules/dspbridge.ko
    insmod /lib/modules/bridgedriver.ko base_img=/system/lib/dsp/baseimage.dof
    
    # HDMI module
    insmod /lib/modules/hdmitx.ko
    insmod /lib/modules/nwolc.ko
    
    # EHCI USB - prevent autosuspend
    write /sys/bus/usb/devices/1-2/power/level on
    write /sys/bus/usb/devices/1-2/power/suspend_support 0
    
on boot
    setprop dalvik.vm.heapsize 32m
    setprop ro.sf.lcd_density 199

    setprop ro.product.name "Archos 70 Internet Tablet"
    setprop ro.product.device A70H2
    setprop ro.product.model A70H2
    
    setprop ro.board.has_hdmi yes
    setprop ro.board.has_analog_out no
    setprop ro.board.use_bluetooth yes
    setprop ro.board.has_soft_keys no
    setprop ro.board.has_earpiece no
    setprop ro.board.has_speaker yes
    setprop ro.board.has_hp_detection yes
    setprop ro.board.desktop_experience "yes"
    # rotation values are (anticlockwise) :
    # 0 for 0 degree
    # 1 for 90
    # 2 for 180
    # 3 for 270
    #  (must be in sync with frameworks/base/core/java/android/view/Surface.java) 
    setprop ro.board.display_portrait 3
    setprop ro.board.tv_portrait 3
    setprop ro.board.is_portrait no    
    setprop ro.board.has_gps yes
    setprop ro.board.has_gsm no
    setprop ro.board.has_mmc no
    setprop ro.board.has_hdd yes
    setprop ro.board.has_camera yes
    setprop ro.board.camera_type OV7675
    setprop ro.board.is_front_camera yes
    setprop ro.board.camera_hflipped yes
    setprop ro.board.camera_vflipped no
    setprop ro.board.has_vibrator no
    setprop ro.bootlogo android-logo-land
    setprop ro.board.has_buttonbar yes
    setprop ro.board.has_dsp yes
    setprop ro.board.usb_charging no
    setprop ro.board.brightness.delay 800
    setprop ro.board.brightness.dim 10
    setprop ro.board.brightness.dim_default 180
    setprop ro.board.touchpad_click_thres 6
    setprop ro.board.light_sensor no
    setprop ro.board.alarm_clock no
    setprop ro.board.has_accelerometer yes
    
    setprop media.stagefright.enable-player true
    setprop media.stagefright.enable-http true
    
    service omx_pm /system/bin/OMXPolicyManager
        oneshot
